<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Node Js Registration</title>
</head>

<body>

    <section class="vh-100" style="margin-top: 20px;">
        <form method="post" action="/create" enctype="multipart/form-data">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter Name" required="required">
            </div>
            <div class="form-group">
                <label for="email">Email Id</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="Enter email" required="required">
            </div>
            <div class="form-group">
                <label for="phone">Phone No</label>
                <input type="number" class="form-control" id="phone" name="phone" aria-describedby="phone" placeholder="Enter Phone No" required="required">
            </div>


            <button type="submit" class="btn btn-primary" style="width: -webkit-fill-available;">Create</button>
        </form>
    </section>





</body>

</html>