<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table thead tr th {
            color: rgb(0, 162, 255);
        }

        table tbody tr {
            border-bottom: 1px solid black !important;
        }

        thead {
            display: table-header-group !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <table class="table" align="center" width="98%">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(function(item){ %>
                    <tr>
                        <td scope="row"><%- i++ %></td>
                        <td><%- item.name %></td>
                        <td><%- item.email %></td>
                        <td><%- item.phone %></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>